<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Package source" value="https://package-server.acr.org/repository/nuget.org-proxy/" />
    <add key="nexus-acrconnect" value="https://package-server.acr.org/repository/acr-connect-nuget-hosted" />
  </packageSources>
</configuration>
